.analyse-menu {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: opacity 0.3s;

    & .share {
        display: flex;
        align-items: center;

        &.shared {
            padding: 2px 2px 2px 6px;
        }
    }

    &:hover {
        opacity: 1;

        & span.share-text {
            opacity: 1;
        }
    }

    & button.share-session {
        background-image: url("inline://images//link_white.svg");
    }

    & button.help {
        background-image: url("inline://images//help.svg");
    }

    & input.share-text {
        color: var(--primary-color);
        background-color: var(--text-secondary);
        padding: 5px;
        border: 1px #888 solid;
        border-radius: 5px;
        margin-top: -3px;

        &:active, &:focus {
            outline: none;
        }
    }

    span.share-text {
        opacity: 0;
        transition: opacity 0.5s;

        &:active, &:focus {
            outline: none;
        }
    }

    .clients {
        margin-left: 10px;
    }

    summary {
        font-size: 120%;
        margin: 5px;
        margin-left: 10px;
    }

    summary::marker {
        content: '';
    }

    ul {
        padding: 0;
        margin: 0;

        button {
            color: var(--primary-color);
            padding-left: 32px;
            height: 24px;
            margin: 10px;
            border: none;
            cursor: pointer;
            background-size: 24px;
            background: transparent no-repeat;

            &:active, &:focus {
                outline: none;
            }
        }
    }
}

.solid-modal-content h4 {
    margin-top: 0;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    min-width: 1.5em;
    text-align: center;
}

.shortcuts {
    td:first-child {
        text-align: center;
    }
}