.map-holder {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px - 100px);
}

.time-control {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color-accent);

    & .timeline {
        position: absolute;
        bottom: 0;
        left: 64px;
        width: calc(100% - 64px);

        & .timeline-progress[disabled] {
            opacity: 0.2;
        }
    }

    & .play-pause-button {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100px;
        width: 64px;
        background-color: transparent;
        color: black;
        font-size: 200%;
        border: none;

        &:focus, &:active {
            outline: none;
        }

        &[disabled] {
            opacity: 0.2;
        }
    }
}

.error-holder {
    .error-image {
        text-align: center;
        padding: 20px;
        font-size: 250%;

        &::after {
            display: block;
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url('images/teleporter.png');
            width: 100%;
            height: 500px;
            margin: 50px 0;
        }
    }

    & .error {
        background-color: #FF9494;
        line-height: 32px;
        margin: 0 -30px;
        padding: 32px;
        padding-left: 74px;
        background-image: url('images/error.png');
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: 32px 32px;

        & .error-hint {
            margin-top: 32px;
        }
    }
}

.modal-content h4 {
    margin-top: 0;
}

kbd {
    background-color: rgb(34, 36, 38);
    border-radius: 3px;
    border: 1px solid rgb(69, 75, 78);
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px, rgba(24, 26, 27, 0.7) 0 2px inset;
    color: rgb(200, 195, 188);
    display: inline-block;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    min-width: 1.5em;
}

.shortcuts {
    td:first-child {
        text-align: right;
    }
}

.modal-overlay {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid rgba(200, 200, 200, 0.5);
    background-color: #181a1b;
    color: #cfcbc5;
    overflow: auto;
    max-height: 90%;
    max-width: 90%;
}

.modal-content input[type="text"] {
    min-width: 300px;
    background-color: rgb(34, 36, 38);
    border-radius: 3px;
    border: 1px solid rgb(69, 75, 78);
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px, rgba(24, 26, 27, 0.7) 0 2px inset;
    outline: none;
    color: rgb(200, 195, 188);
    font-size: 130%;
    padding: 1px 3px;
}