div.event-search {
    width: 700px;

    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
}

table.event-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 34px;
    table-layout: fixed;

    tr.highlighted, tr:hover {
        background: #3a3a3a;
    }

    td {
        cursor: pointer;
        vertical-align: top;
        padding: 0 3px;
    }

    tr {
        & .red {
            color: #a75d50;
        }

        & .blue {
            color: #5b818f;
        }

        td.kill-icon {
            width: 60px;

            img {
                max-width: 60px;
                max-height: 25px;
                height: auto;
                width: auto;
            }

            text-align: center;
        }

        td.kill-source, td.kill-target {
            overflow: hidden;

            span {
                white-space: nowrap;
            }

            width: calc((700px - 60px - 70px) / 2);
        }

        td.kill-source {
            text-align: right;
        }

        td.tick {
            width: 70px;
        }
    }
}